<div class="container-fluid" ng-controller="CreateCronCtrl">
    <div class="row content">
        <div class="col-sm-12">
            <h4>Create {{cron.description}}</h4>
            <form ng-submit="submit()">
                <div class="form-group">
                    <label for="inputCronName">Name</label>
                    <input ng-model="cron.description" type="text" class="form-control" id="inputCronName" aria-describedby="cronName" placeholder="Enter Cron Name">
                    <small id="cronName" class="form-text text-muted">Cron name</small>
                </div>
                <div class="form-group">
                    <label for="inputCronKey">Key</label>
                    <input ng-model="cron.key" type="text" class="form-control" id="inputCronKey" aria-describedby="cronKey" placeholder="Enter Cron Key">
                    <small id="cronKey" class="form-text text-muted">Cron key</small>
                </div>
                <div class="form-group">
                    <label for="inputCron">Cron</label>
                    <input ng-model="cron.cron" type="text" class="form-control" id="inputCron" aria-describedby="cron" placeholder="Enter Cron">
                    <small id="cron" class="form-text text-muted">Cron Period String</small>
                </div>
                <div class="form-group">
                    <label for="inputJiraJQL">JIRA JQL</label>
                    <input ng-model="cron.jiraJQL" type="text" class="form-control" id="inputJiraJQL" aria-describedby="jiraJQL" placeholder="Enter JIRA JQL">
                    <small id="jiraJQL" class="form-text text-muted">JIRA JQL</small>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>