.crit-board-button {
    float: right;
    margin-right: 5px;
}
.crit-board-buttons {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

.crit-board-label {
    min-width: 70px;
    margin-left: 10px;
}

.crit-board-select-scale{
    background-color: #0099ff;
    color: white;
}

.crit-board-select-during{
    background-color: #cc3300;
    color: white;
}

.crit-board-checkboxs {
    padding: 15px;
}