.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background-color: #cb2f23;
    text-decoration: none;
}
.crit-pagination-active {
    background-color: #cb2f23 !important;
    color: white !important;
}