<div class="modal-header">
    <a class="navbar-brand" href="#"><img class="crit-header-logo" src="../images/logo.png"></a>
    <h3 class="modal-title crit-login-title">Login into JIRA Metric system</h3>
    <br>
    <form class="modal-body">
        <p><input required ng-model="username" type="text" id="inputUsername" aria-describedby="username" placeholder="Username or Email"></p>
        <p><input required ng-model="password" type="password" id="inputPassword" aria-describedby="password" placeholder="Password"></p>
        <label>
            <input type="checkbox" name="remember_me" id="remember_me">
            Remember me on this computer
        </label>
        <div class="modal-footer">
            <span class="crit-login-error" ng-if="errorMessages">{{errorMessages}}</span>
            <button class="btn btn-primary" type="button" ng-click="ok()">Ok</button>
            <button class="btn btn-warning" type="button" ng-click="cancelModal()">Cancel</button>
        </div>
    </form>
</div>

