<div class="container-fluid">
    <div class="row content">
        <div class="crit-board-buttons" >
            <label>During last</label>
            <select class="form-control" ng-class="{'crit-board-select-during': cron.kind === 'AVERAGE'}" ng-model="duringSelected" ng-change="changeScale(scaleSelected, duringSelected)">
                <option ng-repeat="(key, value) in duringOptions" value="{{key}}">{{value}}</option>
            </select>
            <label ng-if="cron.kind === 'AVERAGE'">Time scale</label>
            <select ng-if="cron.kind === 'AVERAGE'" class="form-control" ng-class="{'crit-board-select-scale': cron.kind === 'AVERAGE'}" ng-model="scaleSelected" ng-change="changeScale(scaleSelected, duringSelected)">
                <option ng-repeat="(key, value) in scaleOptions" value="{{key}}">{{value}}</option>
            </select>
        </div>
        <br>
        <div class="col-sm-12">
            <div>
                <h4 nf-if="series" title="[{{cron.cron}}]" class="col-xs-8 col-sm-8">Board {{series}}</h4>
                <button class="btn btn-default crit-board-button" type="button"
                        ng-click="deleteCron()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
                <button class="btn btn-default crit-board-button" type="button"
                        ng-click="editCron()">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button class="btn btn-default crit-board-button" type="button"
                        ng-click="downloadCron()">
                    <span class="glyphicon glyphicon-export"></span>
                </button>
            </div>
            <canvas id="line" class="chart chart-line" chart-data="data"
                    chart-labels="labels" chart-series="series" chart-options="options" chart-colors="colors"
                    chart-dataset-override="datasetOverride" chart-click="onClick">
            </canvas>
        </div>
    </div>
</div>