<div class="col-sm-3 container-fluid">
    <div class="container-fluid">
        <div class="sidenav">
            <h4 ng-if="username">{{username}}'s Crons</h4>
            <h4 ng-if="!username">Crons</h4>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search Cron..." ng-model="searchQuery" ng-keydown="$event.keyCode === 13 && searchCrons(searchQuery)">
                <span class="input-group-btn">
                  <button class="btn btn-default" type="button" ng-click="searchCrons(searchQuery)">
                    <span class="glyphicon glyphicon-search"></span>
                  </button>
                  <button ng-click="createCron()" class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                </span>
            </div>
            <br>
            <ul class="nav nav-pills nav-stacked">
                <li class="active"><a href="#">Home</a></li>
                <li ng-repeat="cronInstance in userCronList track by $index">
                    <a ng-href={{getCronUrl(cronInstance.cron)}}>{{cronInstance.cron.description}}</a>
                </li>
            </ul>
            <ul class="nav nav-pills nav-stacked pagination" ng-if="pages.length > 1">
                <li class="page-item"><a ng-click="getPreviousPage()" class="page-link" href="#">&lt;</a></li>
                <li ng-repeat="page in pages track by $index" class="page-item"><a ng-class="{'crit-pagination-active': currentPage === $index}" class="page-link" ng-click="getCronsFromPage(page)">{{page}}</a></li>
                <li class="page-item"><a ng-click="getNextPage()" class="page-link" href="#">&gt;</a></li>
            </ul>
        </div>
    </div>
</div>